<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="skyentific_robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import skyentific_robot urdf file -->
    <xacro:include filename="$(find my_robot_description)/urdf/skyentific_robot.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="skyentific_robot.ros2_control.xacro" />


    <!-- <xacro:skyentific_robot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>-->

    <xacro:arg name="use_fake_system" default="false"/>

    <!-- include your robot + control macro files -->
<!--     <xacro:include filename="$(find my_robot_description)/urdf/skyentific_robot.urdf.xacro"/>
    <xacro:include filename="skyentific_robot.ros2_control.xacro"/> -->

    <xacro:if value="$(arg use_fake_system)">
    <xacro:skyentific_robot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>   <!-- mock -->
    </xacro:if>
    <xacro:unless value="$(arg use_fake_system)">
    <xacro:skyentific_robot_ros2_control name="Arm" initial_positions_file="$(arg initial_positions_file)"/>          <!-- REAL plugin -->
    </xacro:unless>


</robot>
